In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('books.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8099 entries, 0 to 8098
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         8099 non-null   int64
 1   title              8099 non-null   object
 2   serie              8099 non-null   object
 3   author             8099 non-null   object
 4   language           7868 non-null   object
 5   genres             8099 non-null   object
 6   id                 8099 non-null   int64
 7   pages              7996 non-null   float64
 8   format             8052 non-null   object
 9   first_published    8095 non-null   object
 10  rating             8099 non-null   float64
 11  rating_count       8099 non-null   int64
 12  five_stars_count   8099 non-null   int64
 13  four_stars_count   8099 non-null   int64
 14  three_stars_count  8099 non-null   int64
 15  two_stars_count    8099 non-null   int64
 16  one_stars_count    8099 non-null   int64
 17  review_count       8099 non-null   int64
 18  awards             8099 non-null   object
 19  awards_count       8099 non-null   int64
 20  isbn_13            8024 non-null   object
 21  url                8099 non-null   object
dtypes: float64(2), int64(10), object(10)
memory usage: 1.4+ MB

In [4]:
cols = df.columns.drop(['title', 'language', 'serie', 'author', 'genres', 'format', 'awards', 'url'])

In [5]:
cols

Index(['Unnamed: 0', 'id', 'pages', 'first_published', 'rating',
       'rating_count', 'five_stars_count', 'four_stars_count',
       'three_stars_count', 'two_stars_count', 'one_stars_count',
       'review_count', 'awards_count', 'isbn_13'],
      dtype='object')

In [6]:
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8099 entries, 0 to 8098
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         8099 non-null   int64
 1   title              8099 non-null   object
 2   serie              8099 non-null   object
 3   author             8099 non-null   object
 4   language           7868 non-null   object
 5   genres             8099 non-null   object
 6   id                 8099 non-null   int64
 7   pages              7996 non-null   float64
 8   format             8052 non-null   object
 9   first_published    8084 non-null   float64
 10  rating             8099 non-null   float64
 11  rating_count       8099 non-null   int64
 12  five_stars_count   8099 non-null   int64
 13  four_stars_count   8099 non-null   int64
 14  three_stars_count  8099 non-null   int64
 15  two_stars_count    8099 non-null   int64
 16  one_stars_count    8099 non-null   int64
 17  review_count       8099 non-null   int64
 18  awards             8099 non-null   object
 19  awards_count       8099 non-null   int64
 20  isbn_13            7961 non-null   float64
 21  url                8099 non-null   object
dtypes: float64(4), int64(10), object(8)
memory usage: 1.4+ MB